/* Import Sass mixins, variables, Compass modules, etc. */
@import "init";
html {
	line-height: 1.25em;
}
body {
	font-size: 0.88em;
	background-color: #333;
	color: #c6c5af;
	&.cke_editable {
		background-color: #546264;
		//width: 600px;
		//margin: 0 50px;
		//outline: dotted 1px #333;
		img {
			height: auto !important;
			&.right {
				float: right;
				margin: 0 0 0 0.75em;
			} 
			&.left {
				float: left;
				margin: 0 0.75em 0 0;
			}
			&.center {
				display: block;
				margin: 0 auto;
			}
		}
	}
	&.front {
		#content {
			padding: 0;
			.feed-icon {
				display: none;
			}
			.node-teaser:not(.node-homepage-promo) {
				//outline: dotted 1px red;
				margin: 0.75em;
				header h2, .links {
					display: none;
				}
				&.node-slideshow {
					//width: 400px;
					//max-height: 240px;
					//float: right;
					//margin: 0 0 0.75em 0.75em;
				}
			}

			#block-views-homepage-promos-block {
				margin: 0.75em;
			}

		}
	}
}

a {
	color: #fbf2ba;
	text-decoration: underline;
	&:visited {
		color: #fcbd96;
	}
	&:hover {
		color: #fff;
		text-decoration: none;
	}
}

p, pre {
	margin: 0.25em 0 1em 0;
}

input[type=submit], button {
	color: #546264;
	background-color: #c6c5af;
	font-weight: bold;
	&:active {
		color: #c6c5af;
		background-color: #546264;	
	}
}

tr.odd {
	background-color: #3D4749;
}

tr.even {
	background-color: inherit;
}

td.active {
	background-color: #333;
}

.warning, .messages--warning, .error, .messages--error {
	a {
		color: inherit;
	}
}

.form-item {
	margin: 1em 0;
}

.advanced-help-topic pre {
	font-size: smaller;
	&.readme {
		background: inherit;
	}
}

.page-admin #content td {
	font-size: smaller;
}

.vertical-tabs { 
	ul.vertical-tabs-list { 
		li {
			background: inherit;
			&.selected {
				background-color: #3d4749
			}
		}
	}
}

#book-outline {
	min-width: 0;
}

.partial-date-remove {
	float: none !important;
}

.tablet-up {
	display: none;
}

@media all and (min-width: 500px) {
	.tablet-up {
		display: inline;
	}
	p, div {
		&.tablet-up {
			display: block;
		}
	}
}

#page {
	background-color: #546264;
}

.sidebars {
	background-color: #3D4749;
}

#page, .region-bottom {
	//max-width: 1000px;
}


//#header, #main {
//	box-shadow: 0px 0px 4px red;	
//}

#main #content, .cke_editable {
	table {
		max-width: 100%;
	}
	h1, h2 {
		margin-bottom: 0.75em;
	}
	h3, h4 {
		margin-bottom: 0.1em;
	}
	h1, h2, hr, .faq-detailed-question {
		@include paws-bottom;
	}
	h1 {
		margin-top: 0.5em;
		//padding-right: 5em;
		text-shadow: 1px 1px 1px #333;
		&:after {
			color: inherit;
		}
	}
	h2 {
		//margin-bottom: 0;
		clear: both;	
		font-size: 1.1em;
		&:after {
			margin-top: 1em;
		}
	}
	h3 {
		font-size: 1em;
	}
	.faq-ul-questions-top {
		padding-left: 1em;
	}
	.faq-question {
		visibility: hidden;
		font-size: 0;
		line-height: 0;
		padding-left: 0;
		//font-weight: bold;
		a {
			//color: inherit;
			//text-decoration: none;
			//cursor: default;
		}
	}
	.faq-dl-hide-answer {
		.faq-question {
			visibility: visible;
			font-size: 1em;
			line-height: normal;
		}
	}
	.faq-detailed-question {
		margin-bottom: 0.75em;
 		font-style: normal;
 		font-weight: bold;
 		p {
			margin: 0;
		}
	}
	.faq-dd-hide-answer {
		.faq-detailed-question {
			display: none;
		}
		.field-name-body {
			padding-left: 20px;
		}
	}
	.faq-answer {
		padding-left: 0;
		.links {
			display: block;
			text-align: right;
			text-transform: lowercase;
			li {
				&:before {
					content: "\2191";
					margin-right: 0.25em;
					font-size: 1.25em;
				}
			}
			a {
			}
		}
	}
}

#main #content {
	.breadcrumb {
		margin: 0.5em 0;
	}
	hr {
		margin: 0.75em 0;
		clear: both;
		&:after {
			margin-top: -0.5em;
		}
	}

	.node {
		.field-name-body {
			img {
				height: auto !important;
				&.right {
					float: right;
					margin: 0 0 0.75em 0.75em;
				} 
				&.left {
					float: left;
					margin: 0 0.75em 0.75em 0;
				}
				&.center {
					display: block;
					margin: 0 auto;
				}
			}
		}
	}


	.node-book {
		h1 {
			color: #fff;
			border: 0;
			&:before {
				content: "On the Farm:";
				text-transform: uppercase;
				margin-right: 0.25em;
			}
			//&:after {
			//	display: none;
			//}
		}
		.field-name-body {
			h2 {
				clear: right;
			}
		}
		p {
			small {
				color: #fff;
			}
		}
		.field-type-image {
			float: left;
			margin: 0 1em 0.25em 0;
			position: relative;
			z-index: 1;
		}
	}

	.view-books {
		.view-grouping {
			&-header {
				font-size: large;
				font-weight: bold;
				margin-top: 0.5em;
			}
			&-content {
				h3 {
					margin-top: 0.25em;
					margin-bottom: 1.5em;
					font-weight: normal;
				}
			}
		}

		.views-row {
			overflow: hidden;
			margin: 1em 0 0 0;
		}
		.views-field {
			&-field-image {
				float: left;
				margin: 0 1em 0.25em 0;
				img {
					display: block;
					width: 95px;
					height: auto;
				}
			}
			&-field-author {
				display: inline; //inline-block;
				margin-top: 1em;
			}
			&-field-link {
				text-transform: uppercase;
				margin: 0.5em 0;
			}
			&-field-book-review {
				display: none;
			}
			&-title {
				color: #fff;
				font-weight: bold;
				//font-size: larger;
			}
			&-nothing {
				clear: both;
				margin-top: 2em;
			}

		}
	}

	.view-book-reviews {
		.views-row {
			width: 145px;
			display: inline-block;
			margin-bottom: 2em;
			text-align: center;
			vertical-align: top;
			img {
				width: auto; //145px;
				height: 200px; //auto;
			}
		}
	}

	.view-back-issues {
		&-all {
			.views-field {
				&-title {
					text-align: center;
					a {
						text-decoration: none;
					}
				}
			}
			.view-content {
				h3 {
					text-align: center;
					font-size: x-large;
					border-top: solid 1px #c6c5af;
					padding-top: 1em;
					&:first-child {
						border-top: 0;
						padding-top: 0;
					}
				}
			}
			table {
				margin-top: 0.5em;
				tr {
					//display: flex;
					//flex-direction: row-reverse;
				}
			}
			td {
				vertical-align: top;
				padding: 0 5px;
			}
		}
		&-year {
			.view-content {
				.views-row {
					margin-top: 2em;
					margin-bottom: 2em;
					&-first {
						.views-field-nothing {
							hr {
								visibility: hidden;
								margin: 0;
							}
						}
					}
					.views-field {
						&-field-image {
							float: left;
							clear: left;
							margin: 1em 1em 0.25em 0;
						}
						&-nothing {
							text-align: right;
							a {
								font-size: smaller;
								&:before {
									content: "<";
								}
							}
						}
					}
				}
				h3 {
					color: #f07820;
				}
				h4 {
					color: #e00040;
					margin-top: 0;
				}
				p {
					margin-top: 0;
					//font-size: small;
				}
			}
		}
		.views-field {
			&-title, &-field-volume, &-field-number {
				text-transform: lowercase;
				font-weight: bold;
				font-size: larger;
			}
			&-field-volume, &-field-number {
				display: block;
				float: left;
				margin-right: 0.75em;
			}
			&-field-image {
				img {
					box-shadow: 2px 2px 2px #333;
					width: 100%; //firefox/ie bug
				}
				a:hover {
					img {
						box-shadow: 2px 2px 2px #222;
					}
				}
			}
			&-body {
				//margin-top: 2.5em;
			}
			&-field-link {
				clear: both;
				+ .views-field-field-out-of-print {
					display: none;
				}
			}
			&-field-out-of-print {
				clear: both;
				font-family: 'Comic Sans MS', sans-serif;
				font-weight: bold;
				color: #d00000;
				text-transform: uppercase;
				text-shadow: 1px 1px 1px #c6c5af;
				.in-print {
					font-family: Verdana, sans-serif;
					font-weight: normal;
					color: #0000ff;
					text-transform: none;
					//text-shadow: 0 0 0;
				}
			}
			h3, h4 {
				text-shadow: 1px 1px 1px #333;
			}
		}
	}

	.view-logos {
		caption {
			text-align: left;
		}
		.views-table {
			margin-top: 0;
			tr {
				border-bottom: solid 1px #3d4749;
			}
		}
		.views-field {
			padding: 10px 5px;
			vertical-align: top;
			display: block;
			a {
				//display: block;
				//outline: dotted 1px red;
			}
			img {
				max-width: none;
			}
		}
	}

	.document-library {
		.item-list {
			ul {
				list-style-type: none;
				padding: 0;
			}
		}
		.views-row {
			&.active {
				font-size: 2em;
				line-height: normal;
				padding: 0.5em;
				margin: 0.5em 0;
				background-color: #3d4749;
				box-shadow: 2px 2px 1px #333;
			}
		}
	}

	.view-homepage-promos {
		.view-content {
			.masonry-item {
				background-color: inherit;
				border-color: #c6c5af;
				width: 290px;
			}
			font-size: 0.8em;
			line-height: 1.5em;
			h3 {
				//display: none;
			}
			h4 {
				margin-top: 0;
				font-size: 1.2em;
			}
			.homepage-promo-item {
				width: 290px; //210px;
			}
			.views-field-field-promo-reference {
				font-size: 1.1em;
			}
			.views-field {
				&-name {
					h4 {
						&:before {
							font-family: FontAwesome;
							text-rendering: auto;
							-webkit-font-smoothing: antialiased;
							-moz-osx-font-smoothing: grayscale;
							margin-right: 0.5em;
							font-weight: normal;
						}
						&.term {
							&-News {
								&:before {
									content: "\f1ea";
								}
							}
							&-Personal-ad {
								&:before {
									content: "\f004";
								}
							}
							&-About-greyhounds {
								&:before {
									content: "\f059";
								}
							}
							&-Quarterly-magazine {
								&:before {
									content: "\f02d";
								}
							}

						}
					}
				}
			}
		}
	}

	.view-cg-magazine-latest {
		margin-top: 1em;
	}



	.feedback-faq, .faq-block {
		> div {
			margin-bottom: 1em;
		}
		.views {
			&-row {
				margin-bottom: 0.25em;
			}
			&-field {
				&-body {
					display: none;
					p {
						margin-top: 0;
					}
				}
			}
		}
	}


}

#header {
	//background-image: url(../images/allpages/banner.jpg);
	//background-color: #ce6363;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: auto;
	padding-left: 0;
	padding-right: 0;
	width: auto;
	//height: 140px;
	//padding-bottom: 5px;
	text-shadow: 2px 2px 2px #333;
	//border-bottom: solid 3px #333;
	#block-block-9 {
		margin: 0;
		position: absolute;
		top: 1em;
		right: 1em;
		z-index: 10;
	}
	#mobile-nav {
		text-decoration: none;
		//color: #96947b;
		font-size: 2em;
		display: block;
		border: solid 1px #fbf2ba;
		padding: 0.2em 0.25em;
		.mobilenav & {
			border-bottom-color: #96947b;
			background-color: #96947b;
		}
		&:hover, &:active {
			color: #fbf2ba;
		}
	}
}

.header__logo {
	float: none;
	//display: none;
}

.header__site {
	&-link, &-link:link, &-link:visited {
		color: inherit;
	}
	&-name {
		height: 100%;
		width: 100%;
		font-size: 1.5em;		
	}
}

.header__name-and-slogan {
	//height: 75%;
	//width: 31%;
	display: none;
	.header__site-link {
		display: block;
		height: 100%;
		width: 100%;
		//text-indent: -9999px;
	}
}

.region-sidebar-first {
	padding: 0;
	background-color: #3d4749;

	.block-menu {
		margin-bottom: 0;
	}

	#block-views-cg-magazine-latest-block {
		margin-bottom: 0;
		.field-content {
			img {
				display: block;
			}
		}
		&-2 {
			padding: 0 15px;
			.block-title {
				color: #ce6363;
				font-size: 1.25em;
				line-height: normal;
				text-align: center;
				margin: 0.5em 0;
			}
			> div {
				font-size: smaller;
				text-align: justify;
				.view-content {
					p {
						display: inline;
					}
				}
			}
		}
	}


	#block-block-4 {
		padding: 0 15px;
		font-size: smaller;
		img {
			display: block;
			margin: 0 auto;
		}
	}

	.menu {
		padding: 0;
		margin-top: 0;
		margin-bottom: 1em;
		text-transform: uppercase;
		font-size: smaller;
		li {
			list-style-type: none;
			list-style-image: none;
			a {
				text-decoration: none;
				display: block;
				padding: 3px 6px 3px 15px;
				border-bottom: solid 1px #ccc;
				color: #c4c09a;
				//line-height: 2em;
				&:hover, &.active {
					color: #fff;
					&:before {
						//outline: dotted 3px red;
						transform: rotate(90deg);
					}
				}
				&:hover {
					background-color: #C4C09A;
					&:before {
						//outline: dotted 3px red;
						//transform: rotate(90deg);
					}
				}
				&:before {
					content: "\f1b0";
					display: inline-block;
					font-family: FontAwesome;
					font-size: 1.25em;
					text-rendering: auto;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					margin-right: 0.5em;
					-webkit-transition: transform 0.25s;
					transition: transform 0.25s;
				}
			}
			&.menu__item-facebook {
				a:after {
					content: "\f09a";
					color: #fff;
					background-color: #3a5795;
					font-family: FontAwesome;
					//font-size: 1.25em;
					text-rendering: auto;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					height: 1em;
				    width: 0.6em;
				    display: inline-block;
				    line-height: 1.1;
				    padding: 0.2em 0.2em 0 0.4em;
				    margin-left: 0.5em;
				    border-radius: 0.1em;					
				}
			}
		}
	}
}

#navigation {
	padding-left: 0;
	padding-right: 0;
	background-color: #546264;
	//transition: all 1s;
	.links, .menu {
		li {
			float: none;
			padding: 0;
		}
		> li {
			text-transform: uppercase;
			//outline: dotted 1px orange;
			&:hover {
				//outline: dotted 1px red;
				//background-color:  pink;
				> a {
					color: #fff;				
				}
				> ul {
					//display: block;
					height: auto;
					overflow: visible;
					opacity: 1;
				}
			}
			a {
				display: block;
				//outline: dotted 1px blue;
				padding: 4px;
				margin-bottom: 1px;
				color: #3d4749;
				background-color: #96947b;
				cursor: pointer;
				&.menu__link-amazon {
					//outline: dotted 4px red;
					//position: absolute;
					//top: 0;
					//bottom: 0;
					//left: 0;
					//right: 0;
					//margin-bottom: 0;
					background-image: url(../images/amazon_logo_CMYK.png);
					background-repeat: no-repeat;
					background-size: auto 85%;
					background-position: 50% 100%;
					text-indent: -9999px;
					&:hover, &:focus {
						background-image: url(../images/amazon_logo_CMYK_W.png);
					}
				}
				&.active, &.active-trail {
					color: #fff;
					font-weight: bold;
					&:before {
						transform: rotate(90deg);
					}
				}
				&:hover, &:active, &:focus {
					color: #fbf2ba;
				}
			}
			li {
 				text-transform: lowercase; 
 				padding-right: 0;
 				background-color: #3d4749;
				a {
					padding: 4px;
					background-color: #3d4749;
					color: #ffbd98;
					text-decoration: none;
					border-bottom: solid 1px #ccc;
					&:before {
						content: "\f1b0";
						display: inline-block;
						font-family: FontAwesome;
						font-size: 1.0em;
						//outline: dotted 1px red;
						font-weight: normal;
						text-rendering: auto;
						-webkit-font-smoothing: antialiased;
						-moz-osx-font-smoothing: grayscale;
						margin-right: 0.5em;
					}
				}
			}
			ul {
				//position: absolute;
				//display: none;
				height: 0;
				overflow: hidden;
				opacity: 0;
				-webkit-transition: opacity 0.5s;
				transition: opacity 0.5s;
				ul {
					padding-left: 20px;
					//outline: dotted 1px pink;
				}
			}
			&.menu__item-amazon {
				ul {
					left: auto;
					right: 0;
				}
			}
		}
	}
	.mobilenav & {
		//outline: dotted 1px red;
		border: solid 1px #fbf2ba;
		box-shadow: 0px 0px 6px #fbf2ba;
		position: absolute;
		top: 3.8em;
		right: 0;
		width: 75%;
		//overflow: hidden;
	}
}

#footer {
	padding-top: 0.5em;
	border-top: solid 1.75em #96957B;
	background-color: #333;
	font-size: 0.75em;
	color: #96957B;
	text-align: right; 

	h2 {
		display: inline-block;
		font-size: 1em;
		font-weight: normal;
		line-height: 2;
		vertical-align: top;
	}

	.menu {
		display: inline-block;
		margin: 0;
		padding: 0;
		line-height: 2;
		vertical-align: top;
		&__item {
			list-style: none;
			float: left;
			margin-left: 0.5em;
			&:before {
				content: "|";
			}
			&-facebook {
				&:after {
					content: "\f09a";
					color: #fff;
					background-color: #3a5795;
					font-family: FontAwesome;
					//font-size: 1.25em;
					text-rendering: auto;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					height: 1em;
				    width: 0.6em;
				    display: inline-block;
				    line-height: 1.1;
				    padding: 0.2em 0.2em 0 0.4em;
				    margin-left: 0.5em;
				    border-radius: 0.1em;					
				}
			}
			a {
				margin-left: 0.5em;
			}
		}
	}


}	

.book-navigation {
	.page-links {
		padding: 1em 0;
		border: 0;
	}
	.page-up {
		display: none;
	}
	.page-next, .page-previous {
		width: 49%;
		&:before {
			content: "Next:";
			margin-right: 0.5em;
			color: #C4C09A;
			font-weight: bold;
			text-transform: uppercase;
			text-decoration: none;
		}
	}
	.page-previous {
		&:before {
			content: "Previous:";
		}
	}
}

.node-type-book {
	#content {
		h1 {
			color: #fff;
			border: 0;
			&:before {
				content: "On the Farm:";
				text-transform: uppercase;
				margin-right: 0.25em;
			}
			//&:after {
			//	display: none;
			//}
		}
		.field-name-body {
			h2 {
				clear: right;
			}
		}
	}
}

.node-type-book-review {
	#header, #navigation {
		display: none;
	}
	#main {
		&:before {
			content: url(../images/small_banner.jpg);
			display: block;
		}
	}
}

.node-book-review {
	&:before {
		content: url(../images/small_banner.jpg);
		display: block;
		margin-left: -1.5em;
		margin-top: -0.5em;	
	}

	header {
		h2 {
			a {
				color: #fff;
				text-decoration: none;
				cursor: default;
				font-size: smaller;
			}
		}
	}

	.field-name-field-reviewed-publication {
		display: none;
	}

}

.node-book {
}

.node-publications {
	.field {
		//outline: dotted 1px yellow;
		//display: inline;
		&-label {
			font-weight: normal;
		}
		&-name-field-isbn {
			.field-label {
				&:before {
					content: "[";
				}
			}
			.field-items {
				.field-item {
					display: inline;
					&:after {
						content: "]";
					}
				}
			}
		}	
		&-name-field-link {
			text-transform: uppercase;
		}		
		&-name-field-author {
			.field-items {
				.field-item {
					&:after {
						content: ",";
					}
				}
			}
		}
		&-name-field-publisher {
			.field-items {
				.field-item {
					&:after {
						content: ",";
					}
				}
			}
		}
		&-name-field-isbn {
			.field-items {
				&:after {
					content: ",";
				}
			}
		}
	}
}

.node-agency, .node-representative {
	.location {
		&-locations {
			&-display {
			}
			&-header {
				display: none;
			}
		}
		.tel {
			.value {
				.field-items {
					display: inline;					
					&:before {
						content: ","
					}
					div {
						display: inline;
						margin-left: 0.5em;
					}
				}
			}
		}
	}	
	.field-name-field-phone2 {
		display: none;
	}		
}

.node-agency {
	abbr[title] {
		//white-space: pre;
		//font-family: courier, 'courier new', monospace;
		margin-right: 0.5em;
		border-bottom: 0;
	}
	header {
		h2 {
			margin-bottom: 0 !important;
			padding-bottom: 0 !important;
			line-height: 1.5em;
			border-bottom: 0 !important;
			a {
				text-decoration: none;	
				cursor: default;
				color: #c6c5af;
				&:hover {
					color: #c6c5af;
				}
			}
			&:after {
				display: none;
			}
		}
	}
	.field-label {
		font-weight: normal;
	}
	.field-name, .views-field {
		&-field-needs-attention, &-field-needs-attention ~ * {
			color: #ce6363;
		}

		&-field-contact {
			&-name, &-title {
				display: inline-block;
			}
			&-title {
				.field-item {
					&:before {
						content: ", ";
					}
				}
			}
		}

		&-field-rep-reference {
			margin-left: 2em;
			font-size: small;
			.field-item {
				margin-top: 1em;
			}
		}
		&-field-service-area {
			font-weight: bold;
		}

		&-field-location-taxonomize-terms, &-field-agency-type {
			display: none;
			outline: dashed 1px #c6c5af;
			.logged-in & {
				display: block;
			}
		}
		&-field-notes {
			outline: dashed 1px #c6c5af;
			white-space: pre-wrap;		
		}

		&-field-agency-url {
			.field-content {
				display: inline;
			}
		}

	}	
}

.node-representative {
	header {
		h2 {
			display: none;
		}
	}
	.location {
		&-locations {
			&-display {
			}
			&-header {
				display: none;
			}
		}
	}
}

.agency-list {
	> .view-content {
		> h3 {
			display: none;
		}
	}
	.view-filters {
		.views-exposed-widget {
			.form-item {
				.description {
					display: none;
				}
			}
		}
	}
	.views-row {
		margin-top: 1em;
		margin-bottom: 1em;
		padding-bottom: 1em;
		border-bottom: solid 1px #3d4749;
	}
	.view-empty {
		.node-title {
			display: none;
		}
		.agency-region {
			font-weight: bold;
		}
	}
}

.node-cg-magazine {
	.field-name-body {
		h3, h4 {
			text-shadow: 1px 1px 1px #333;
		}
		h3 {
			color: #f07820;
		}
		h4 {
			color: #e00040;
			margin-top: 0;
		}
		p {
			margin-top: 0;
		}
	}
	.field-name-field-image {
		float: left;
		margin: 0 1em 0.25em 0;
	}
}

#backtotop {
	background: #96947b;
	color: #3d4749;
	height: 30px;
	width: 30px;
	line-height: 1;
	vertical-align: middle;
	font-size: 0;
	padding: 10px;
	border: solid 1px #3d4749;
	border-radius: 50%;
	&:before {
	    content: "\f1b0";
	    margin: 0 5px;
	    line-height: 1;
	    font-size: 15px;
	    font-family: FontAwesome;
	    font-weight: normal;
	    text-rendering: auto;
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
	}
	&:after {
		content: "top";
	    font-size: 15px;
	    line-height: 1;
	}
	&:hover {
		background: #3d4749;
		color: #96947b;
		border-color: #96947b;		
	}
}

//colorbox overrides
#cboxWrapper {
	background-color: #546264;
	border-radius: 8px;
}
#cboxContent {
	// background-color: #546264;
}
#cboxClose {
	
}

#cboxLoadedContent {
	> * {
		padding: 0.5em 1.5em;
		font-size: 0.9em;
	}
}

@media all and (min-width: 768px) {

	body {
		&.front {
			#content {
				.node-teaser {
					&.node-slideshow {
						width: 400px;
						//height: 240px;
						float: right;
						margin: 0 0 0.75em 0.75em;
						//outline: dotted 1px yellow;
						//.slick-slider {
							//outline: dotted 1px orange;
						//}
						//.slick-track {
						//	outline: dotted 1px blue;
						//}
						//.slick-slide {
						//	outline: dotted 1px red;
						//	img {
						//	}
						//}
					}
				}
			}
		}
	}

	#header {
		//background-image: url(../images/allpages/banner.jpg);
		background-color: transparent;
		//height: 144px;
		overflow: hidden;
		padding-bottom: 0;
		text-shadow: none;
		border-bottom: 0;
		padding: 0;
		#block-block-9 {
			display: none;
		}
	}

	.header__logo {
		display: block;
		text-align: center;
		margin: 0 auto;
	}

	.header__name-and-slogan {
		//height: 75%;
		//width: 31%;
		visibility: hidden;
		height: 0;
		overflow: hidden;
		.header__site-link, .header__site-slogan {
			//display: block;
			//height: 100%;
			//width: 100%;
			text-indent: -9999px;
		}
	}

	#main {
		padding-top: 1.7em;
		background-image: url(../images/bg.gif);
		background-repeat: repeat-y;
		background-size: contain;
		background-position: 50% 0;
		.node-type-book-review & {
			background-image: none;
			padding-top: 0;
			&:before {
				content: url(../images/small_banner.jpg);
				display: block;
			}
		}
		#content {
			.view-logos {
				.views-field {
					display: table-cell;
				}
			}		

			.view-homepage-promos {
				.view-content {
					.homepage-promo-item {
						width: 240px;
					}
				}
			}

		}
	}

	.overlay #main {
		background-image: none;
	}

	#navigation {
		//display: flex;
		//flex-direction: row;
		//flex-wrap: nowrap;
		padding-left: 10px;
		padding-right: 10px;
		border-bottom: solid 6px #96947b;
		height: 2em;
		font-size: 12px;
		.links, .menu {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			li {
				padding: 0 10px 0 0;
			}
			> li {
				//border-bottom: solid 6px #96947b;
				//float: left;
				position: relative;
				//width: 12.9%; //13.25%; //130px;
				flex: 1 1 0;
				a {
					padding: 5px 8px 0 8px;
					margin-bottom: 5px;
					text-decoration: none;
					text-align: center;
					font-size: 0.9em;
					line-height: normal;
					border-radius: 2em 2em 0 0;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis; 
				}
				ul {
					position: absolute;
					//top: 18px;
					display: block;
					min-width: 150%;
					left: -10px;
					white-space: nowrap;
					z-index: 1000;
					box-shadow: 2px 1px 4px #ccc;
					ul {
						min-width: 100%;
						left: -99%;
						top: 0;
						padding-left: 0;
					}
				}
				li {
					//display: block;
					//position: relative;
					background: none;
					padding: 0 10px 0 0;
					width: 100%;
					float: none;
					//font-size: 1em;
					a {
						padding: 7px;
						margin-bottom: 0;
						border-radius: 0;
						min-width: 0;
						font-size: 1em;
						text-align: left;
					}
				}
				&.last {
					ul {
						//left: auto;
						//right: 10px;
						ul {
							right: 99%;
						}
					}				
				}
			}
		}
	}

	div#content {
		padding-left: 45px;
		padding-right: 45px;
	}

}